 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>I am a Soft- and Hardware developer from Berlin / Germany with more than ten
                        years of practice. My main interest is robotics in the field of computer aided
                        manufacturing, or in short 'automation of labor'.

                        I am well aware of people being scared of machines taking over the world.
                        Therefore I propose to work rather on the Isaac Asimov type of robotics than
                        on the T-800 series.</p>
                </div>
                <div class="col-lg-4">
                    <p>I have given countless classes on topics like 3D Printing, 3D/CAD modeling,
                        microcontrollers, mechatronics and more than 100 3D Printer building classes.

                        My ability to work with various types of digital fabrication equipment is well
                        trained, in particular, with 3D Printers, Laser Cutters, CNC Machines. More than
                        handling I have written software for most of these machines.</p>
                </div>
               <!-- <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="#" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download Theme
                    </a>
                </div>-->
            </div>
        </div>
    </section>