 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-5 col-lg-offset-1">
                    <p>
                        I am a Soft- and Hardware developer from Berlin in Germany with more than
                        ten years of experience. Equipped with practical knowledge in the areas of
                        systems and application programming, robotics, and computer-aided manufacturing.
                    </p>

                </div>
                <div class="col-lg-5 ">
                    <p>
                        During the last four years, I gave countless lectures and workshops on 3D
                        Printing, 3D or CAD modeling, and microcontroller programming. My personal
                        record is 100+ 3D Printer building classes which in its early state inspired
                        the development of the i3 Berlin.
                    </p>

                </div>
            </div>
            <div class="row">
                <div class="col-lg-5 col-lg-offset-1">
                    <p>
                        So far my work allowed me to come across various aspects of product and service
                        design. If I would distil all of it down to the quintessence, I probably
                        end up with something like 'Simplicity is key'. But the moment that I came up
                        with this little insight, I needed to admit that 'Simplicity is difficult'.

                    </p>
                </div>
                <div class="col-lg-5">
                    <p>
                        I am well trained in operating various types of digital fabrication equipment,
                        in particular 3D Printers, Laser Cutters, and CNC Machines. More than handling
                        I have written software for most of these machines and I am very familiar with the
                        concepts and mechanisms that drive them.
                    </p>
                </div>

               <!-- <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="#" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download Theme
                    </a>
                </div>-->
            </div>
        </div>
    </section>