<!-- About Section -->
<section class="success" id="skills">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Skills</h2>
                <hr class="star-light">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-5 col-lg-offset-1">
                <ul class="list-unstyled">
                    <li>

                        <h3>Programming</h3>

                        <table class="table table-striped">
                            <tr>
                                <th>
                                    Language
                                </th>
                                <th>
                                    Level
                                </th>
                                <th>
                                    Experience Type
                                </th>
                            </tr>
                            <tr>
                                <td>
                                    C / C++ / C#
                                </td>
                                <td>
                                    Expert
                                </td>
                                <td>
                                    Work
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Golang
                                </td>
                                <td>
                                    Expert
                                </td>
                                <td>
                                    Work
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Swift
                                </td>
                                <td>
                                    Intermediate
                                </td>
                                <td>
                                    Work
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Rust
                                </td>
                                <td>
                                    Beginner
                                </td>
                                <td>
                                    Privat
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Python / Perl / PHP
                                </td>
                                <td>
                                    Expert
                                </td>
                                <td>
                                    Work
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Java
                                </td>
                                <td>
                                    Advanced
                                </td>
                                <td>
                                    Work
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Javascript / HTML / CSS
                                </td>
                                <td>
                                    Advanced
                                </td>
                                <td>
                                    Work
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    SQL / NOSQL
                                </td>
                                <td>
                                    Advanced
                                </td>
                                <td>
                                    Work
                                </td>
                            </tr>
                        </table>
                    </li>
                    <li>
                        <h3>Digital Fabrciation</h3>
                        <table class="table table-striped">
                            <tr>
                                <th>
                                    Machine
                                </th>
                                <th>
                                    Level
                                </th>
                                <th>
                                    Experience Type
                                </th>
                            </tr>
                            <tr>
                                <td>
                                    3D Printer FDM
                                </td>
                                <td>
                                    Expert
                                </td>
                                <td>
                                    Work
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    3D Printer STL
                                </td>
                                <td>
                                    Advanced
                                </td>
                                <td>
                                    Work
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Laser Cutter
                                </td>
                                <td>
                                    Expert
                                </td>
                                <td>
                                    Work
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    CNC Router
                                </td>
                                <td>
                                    Advanced
                                </td>
                                <td>
                                    Work
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Lathe
                                </td>
                                <td>
                                    Intermediate
                                </td>
                                <td>
                                    Work
                                </td>
                            </tr>
                        </table>
                    </li>
                </ul>
            </div>
            <div class="col-lg-5 ">
                <ul class="list-unstyled">
                    <li>
                        <h3>Software</h3>
                        <table class="table table-striped">
                            <tr>
                                <th>
                                    Application
                                </th>
                                <th>
                                    Level
                                </th>
                                <th>
                                    Experience Type
                                </th>
                            </tr>
                            <tr>
                                <td>
                                    IntelliJ IDE
                                </td>
                                <td>
                                    Expert
                                </td>
                                <td>
                                    Work
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Xcode
                                </td>
                                <td>
                                    Expert
                                </td>
                                <td>
                                    Work
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Eclipse
                                </td>
                                <td>
                                    Basic
                                </td>
                                <td>
                                    Privat
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    GNU Emacs
                                </td>
                                <td>
                                    Expert
                                </td>
                                <td>
                                    Work
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Bash
                                </td>
                                <td>
                                    Expert
                                </td>
                                <td>
                                    Work
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Git
                                </td>
                                <td>
                                    Expert
                                </td>
                                <td>
                                    Work
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Docker
                                </td>
                                <td>
                                    Advanced
                                </td>
                                <td>
                                    Work
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Blender
                                </td>
                                <td>
                                    Expert
                                </td>
                                <td>
                                    Work
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Rhino 3d
                                </td>
                                <td>
                                    Advanced
                                </td>
                                <td>
                                    Work
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Autodesk Fusion 360
                                </td>
                                <td>
                                    Advanced
                                </td>
                                <td>
                                    Work
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    QCad
                                </td>
                                <td>
                                    Expert
                                </td>
                                <td>
                                    Work
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Adobe CC
                                </td>
                                <td>
                                    Advanced
                                </td>
                                <td>
                                    Work
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Gimp / Inkascape
                                </td>
                                <td>
                                    Advanced
                                </td>
                                <td>
                                    Work
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    MS Office / Libe Office
                                </td>
                                <td>
                                    Expert
                                </td>
                                <td>
                                    Work
                                </td>
                            </tr>
                        </table>
                    </li>
                    <li>
                        <h3>Languages</h3>
                        <table class="table table-striped">
                            <tr>
                                <th>
                                    Language
                                </th>
                                <th>
                                    Level
                                </th>
                                <th>
                                    Experience Type
                                </th>
                            </tr>
                            <tr>
                                <td>
                                    German
                                </td>
                                <td>

                                </td>
                                <td>
                                    Native
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    English
                                </td>
                                <td>
                                    Advanced
                                </td>
                                <td>
                                    Spoken / Written
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Spanish
                                </td>
                                <td>
                                    Advanced
                                </td>
                                <td>
                                    Spoken / Written
                                </td>
                            </tr>
                        </table>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>